<%- include("partials2/header.ejs") %>

 <div class="home">
    <i class="fas fa-book-open fa-7x"></i>
    <h1 class="display-3">Goodreads Clone</h1>
    <p class="lead">You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.</p>
    
    <a class="btn btn-light btn-lg homebt" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg homebt" href="/login" role="button">Login</a>

</div>


<%- include("partials2/footer") %>
