<%- include("partials2/header.ejs") %>

    <div class="home front">
        <i class="fas fa-book-open fa-7x"></i>
        <h1 class="display-3">CREST</h1>
        <p class="lead">You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll
            give you surprisingly insightful recommendations.</p>
        <div class="button">
            <a class="btn btn-lg btn-primary btn-block h hregister" href="/register" role="button">Register</a>
            <a class="btn btn-lg btn-primary btn-block h hlogin" href="/login" role="button">Login</a>
        </div>
    </div>


    <%- include("partials2/footer") %>