
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.center{
  margin: 0 auto;
  text-align: center;
}
.col-sm-8{
  margin: 0 auto;
}
.card-body{
  padding:10px;
  margin:10px;
}
.form-control{
  border: 1px solid black;
  border-radius: 6px;
}
